{{ $region := "__REGION__" }}

global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  log /dev/log local0
  tune.ssl.default-dh-param 2048
  ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128:AES256:AES:CAMELLIA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  option forwardfor
  option http-server-close
  log global
  option httplog
  option dontlognull
  errorfile 400 /app/errors/400.http
  errorfile 403 /app/errors/403.http
  errorfile 408 /app/errors/408.http
  errorfile 500 /app/errors/500.http
  errorfile 502 /app/errors/502.http
  errorfile 503 /app/errors/503.http
  errorfile 504 /app/errors/504.http

frontend stats
  # Stats over https
  bind *:7086 ssl crt /data/tls/server.pem no-sslv3 
  stats enable   
  stats uri /
  stats realm Haproxy\ Statistics
  stats auth admin:BYvQf9YdaBAgkR6AX4zm

{{/* Loop over all webapps to create backends */}}
{{range ls "/iggi/webapps" }} {{ $service:= (base .) }} {{ $key:= printf "/iggi/services/%s/%s" $region $service }}
  # Backend for {{ $service }}
  {{ if ls $key }}
backend {{ $service }} 
  mode http 
  balance roundrobin
  option httpchk GET /__status/check
  {{range getvs (printf "%s/*" $key) }}
  server {{ base . }} {{ . }} check
  {{end}} 
  {{end}}

{{end}}

frontend https-in
  # HTTPS server (see https://wiki.mozilla.org/Security/Server_Side_TLS)
  bind *:443 ssl crt /data/tls/server.pem no-sslv3 
  reqadd X-Forwarded-Port:\ %[dst_port]
  reqadd X-Forwarded-Proto:\ https
  # Enable HSTS (recommended)
  rspadd  Strict-Transport-Security:\ max-age=15768000  
  # Backend configuration
  default_backend root-app
  {{/* Loop over all webapps to create acl blocks */}}
  {{range gets "/iggi/webapps/*/location/*" }} {{ $service := base (dir (dir .Key)) }} {{ $key:= printf "/services/%s/%s" $region $service }} {{ if ls $key }}
  {{ if ne $service "root-app" }}
  {{ $regSplit := split .Value " " }}
  {{ if eq (index $regSplit 0) "~" }}
  acl url_{{ $service }} path_reg {{ index $regSplit 1 }}
  {{else}}
  acl url_{{ $service }} path_beg {{ .Value }}
  {{end}}
  {{end}} {{end}} {{end}}
  {{/* Loop over all webapps to create use_backend blocks */}}
  {{range ls "/iggi/webapps" }} {{ $service:= (base .) }} {{ $key:= printf "/iggi/services/%s/%s" $region $service }} {{ if ls $key }}
  {{ if ne $service "root-app" }}
  use_backend {{ $service }} if url_{{ $service }}
  {{end}} {{end}} {{end}}

frontend http-in
  # Forward http to https
  bind *:80
  # Redirect all HTTP traffic to HTTPS
  redirect scheme https if !{ ssl_fc }

